# Geo API Credentials from RapidAPI
REACT_APP_RAPIDAPI_HOST=VALUE
REACT_APP_RAPIDAPI_KEY=VALUE

# Geo API URL
REACT_APP_GEO_API_URL=VALUE

# OpenWeatherMap Credentials
REACT_APP_WEATHER_API_KEY=VALUE
REACT_APP_WEATHER_API_URL=VALUE
